@import 'variables';

nav {
  height: 100px;
  background-color: $dark-gray;
}
.main-container {
  height: 100vh;

}

.left-outlet {
  background-color: $light-gray;
  height: 100%;
}

.right-outlet {
  height: 100%;
}
